

div {
    background-color: blue;
    border-radius: 20px;
    width: 400px;
    font-size: large;
}

.red {
    color: red;
    background-color: white;
}

.orange {
    color: orange;
    background-color: white;
}

.yellow {
    color: yellow;
    background-color: brown;
}

.green {
    color: yellowgreen;
    background-color: black;
}

.blue {
    color:aquamarine;
    background-color: darkblue;
}